<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-default" (click)="back()">Terug naar examen kiezen</button>
    </div>

    <div class="col-xs-12">
        <h2>Disclaimer</h2>
        <p>
            Ik heb deze website met alle zorgvuldigheid gemaakt, maar ongetwijfeld zal er ergens een foutje zitten. Als het echt belangrijk is, reken dan altijd zelf het cijfer uit a.d.h.v de correcte richtlijnen. Ik stel mij dan ook niet aansprakelijk voor schade die veroorzaakt wordt door het gebruik van deze website.
            Mocht je vragen hebben, neem dan gerust contact met mij op:
            <a href="mailto:&#104;&#111;&#105;&#064;&#099;&#105;&#106;&#102;&#101;&#114;&#045;&#117;&#105;&#116;&#114;&#101;&#107;&#101;&#110;&#101;&#110;&#046;&#110;&#108;">&#104;&#111;&#105;&#064;&#099;&#105;&#106;&#102;&#101;&#114;&#045;&#117;&#105;&#116;&#114;&#101;&#107;&#101;&#110;&#101;&#110;&#046;&#110;&#108;</a>
        </p>
    </div>

</div>
